### Pyspark Handling Missing Values 

* Dropping Columns
* Dropping Rows
* Various parameter in dropping functionalities 
* Handling Missing values by Mean, Median and Mode

In [2]:
from pyspark.sql import  SparkSession
spark = SparkSession.builder.appName('Handling').getOrCreate()

In [3]:
spark.read.csv('salary.csv', header= True, inferSchema= True)

DataFrame[Name : string, Age : int, Gender : string, Salary : int]

In [4]:
df_pyspark4 =   spark.read.csv('salary.csv', header= True, inferSchema= True)

In [5]:
df_pyspark4.show()

+----------+----+-------+-------+
|     Name |Age |Gender |Salary |
+----------+----+-------+-------+
|Adviteeya |  30|   male|  12333|
|     Abhay|  23|   male|  54000|
|      amit|  43|   null|   null|
|  ashutosh|  54|   null|  45000|
|      null|null|   null|  45000|
|      baby|  23| female|   9000|
|      null|null|   null|   9000|
+----------+----+-------+-------+

In [6]:
## Drop the columns
df_pyspark4.drop('Name')

DataFrame[Name : string, Age : int, Gender : string, Salary : int]

In [7]:
## dropping NAN values
df_pyspark4.na.drop().show()
## all the rows are dropeed where null value or nan values are dropped

+----------+----+-------+-------+
|     Name |Age |Gender |Salary |
+----------+----+-------+-------+
|Adviteeya |  30|   male|  12333|
|     Abhay|  23|   male|  54000|
|      baby|  23| female|   9000|
+----------+----+-------+-------+

In [8]:
## features of drop any == how

df_pyspark4.na.drop(how="all").show()

## it will drop only those rows in which all the values are null by default it is any

+----------+----+-------+-------+
|     Name |Age |Gender |Salary |
+----------+----+-------+-------+
|Adviteeya |  30|   male|  12333|
|     Abhay|  23|   male|  54000|
|      amit|  43|   null|   null|
|  ashutosh|  54|   null|  45000|
|      null|null|   null|  45000|
|      baby|  23| female|   9000|
|      null|null|   null|   9000|
+----------+----+-------+-------+

In [9]:
## features of drop any == threshold

df_pyspark4.na.drop(how="any", thresh= 2).show()

## it will delete that row in which there are two non null values

+----------+----+-------+-------+
|     Name |Age |Gender |Salary |
+----------+----+-------+-------+
|Adviteeya |  30|   male|  12333|
|     Abhay|  23|   male|  54000|
|      amit|  43|   null|   null|
|  ashutosh|  54|   null|  45000|
|      baby|  23| female|   9000|
+----------+----+-------+-------+

In [10]:
## features of drop  == threshold

df_pyspark4.na.drop(how="any",thresh= 3).show()

## it will delete that row in which there are three non null values

+----------+----+-------+-------+
|     Name |Age |Gender |Salary |
+----------+----+-------+-------+
|Adviteeya |  30|   male|  12333|
|     Abhay|  23|   male|  54000|
|  ashutosh|  54|   null|  45000|
|      baby|  23| female|   9000|
+----------+----+-------+-------+

In [12]:
## features of drop == subset
## drop null values from specific column 
#df_pyspark4.na.drop(how="any",subset=["Age"]).show()
df_pyspark4.na.drop(how="any",subset=["Age"]).show()

In [ ]:
## Fill the missing the values 

df_pyspark4.na.fill('Missing value').show()
## it will fill the null values with missing values

+-------------+----+-------------+-------+
|        Name |Age |      Gender |Salary |
+-------------+----+-------------+-------+
|   Adviteeya |  30|         male|  12333|
|        Abhay|  23|         male|  54000|
|         amit|  43|Missing value|   null|
|     ashutosh|  54|Missing value|  45000|
|Missing value|null|Missing value|  45000|
|         baby|  23|       female|   9000|
|Missing value|null|Missing value|   9000|
+-------------+----+-------------+-------+

In [31]:
## Fill the missing the values 

df_pyspark4.na.fill('Missing value', 'Age ').show()
## it will fill the null values with missing values with respect to any speicific columns

+----------+----+-------+-------+
|     Name |Age |Gender |Salary |
+----------+----+-------+-------+
|Adviteeya |  30|   male|  12333|
|     Abhay|  23|   male|  54000|
|      amit|  43|   null|   null|
|  ashutosh|  54|   null|  45000|
|      null|null|   null|  45000|
|      baby|  23| female|   9000|
|      null|null|   null|   9000|
+----------+----+-------+-------+

In [30]:
# missing values handling in specific columns
df_pyspark4.na.fill('Missing values',['Salary ']).show()

+----------+----+-------+-------+
|     Name |Age |Gender |Salary |
+----------+----+-------+-------+
|Adviteeya |  30|   male|  12333|
|     Abhay|  23|   male|  54000|
|      amit|  43|   null|   null|
|  ashutosh|  54|   null|  45000|
|      null|null|   null|  45000|
|      baby|  23| female|   9000|
|      null|null|   null|   9000|
+----------+----+-------+-------+

In [19]:
# Take specific column and fill the missing value with mean of that columns

df_pyspark4.show()

+----------+----+-------+-------+
|     Name |Age |Gender |Salary |
+----------+----+-------+-------+
|Adviteeya |  30|   male|  12333|
|     Abhay|  23|   male|  54000|
|      amit|  43|   null|   null|
|  ashutosh|  54|   null|  45000|
|      null|null|   null|  45000|
|      baby|  23| female|   9000|
|      null|null|   null|   9000|
+----------+----+-------+-------+

In [22]:
!pip install numpy

Collecting numpy
  Downloading numpy-1.24.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     |████████████████████████████████| 17.3 MB 15.7 MB/s eta 0:00:01
Installing collected packages: numpy
  WARNING: The scripts f2py, f2py3 and f2py3.8 are installed in '/config/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed numpy-1.24.4

In [23]:
# We will be using an imputer function

from pyspark.ml.feature import Imputer

In [28]:
imputer = Imputer(
    inputCols=['Age ','Salary '],
    outputCols=["{}_imputer".format(c) for c in ['Age ', 'Salary ']]
).setStrategy("mean")

In [29]:
imputer.fit(df_pyspark4).transform(df_pyspark4).show()

+----------+----+-------+-------+------------+---------------+
|     Name |Age |Gender |Salary |Age _imputer|Salary _imputer|
+----------+----+-------+-------+------------+---------------+
|Adviteeya |  30|   male|  12333|          30|          12333|
|     Abhay|  23|   male|  54000|          23|          54000|
|      amit|  43|   null|   null|          43|          29055|
|  ashutosh|  54|   null|  45000|          54|          45000|
|      null|null|   null|  45000|          34|          45000|
|      baby|  23| female|   9000|          23|           9000|
|      null|null|   null|   9000|          34|           9000|
+----------+----+-------+-------+------------+---------------+