### Pyspark Dataframes filter operation 

* Filter operation
* &,|,==
* -

In [17]:
# For data preprocessing 
import pyspark

In [18]:
from pyspark.sql import SparkSession

In [19]:

spark = SparkSession.builder.appName("preprocessing").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/07/11 18:51:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/07/11 18:51:45 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [20]:
spark

In [25]:
df_pyspark5 = spark.read.csv("Employee_Salary_Dataset.csv" ,header=True, inferSchema= True)

In [26]:
df_pyspark5.show()

+---+----------------+---+------+-------+
| ID|Experience_Years|Age|Gender| Salary|
+---+----------------+---+------+-------+
|  1|               5| 28|Female| 250000|
|  2|               1| 21|  Male|  50000|
|  3|               3| 23|Female| 170000|
|  4|               2| 22|  Male|  25000|
|  5|               1| 17|  Male|  10000|
|  6|              25| 62|  Male|5001000|
|  7|              19| 54|Female| 800000|
|  8|               2| 21|Female|   9000|
|  9|              10| 36|Female|  61500|
| 10|              15| 54|Female| 650000|
| 11|               4| 26|Female| 250000|
| 12|               6| 29|  Male|1400000|
| 13|              14| 39|  Male|6000050|
| 14|              11| 40|  Male| 220100|
| 15|               2| 23|  Male|   7500|
| 16|               4| 27|Female|  87000|
| 17|              10| 34|Female| 930000|
| 18|              15| 54|Female|7900000|
| 19|               2| 21|  Male|  15000|
| 20|              10| 36|  Male| 330000|
+---+----------------+---+------+-------+
only showing top 20 rows

In [28]:
df_pyspark5.describe().show()

+-------+------------------+-----------------+------------------+------+------------------+
|summary|                ID| Experience_Years|               Age|Gender|            Salary|
+-------+------------------+-----------------+------------------+------+------------------+
|  count|                35|               35|                35|    35|                35|
|   mean|              18.0|              9.2| 35.48571428571429|  null| 2059147.142857143|
| stddev|10.246950765959598|7.552950339008553|14.643551940884361|  null|3170123.6359018176|
|    min|                 1|                1|                17|Female|              3000|
|    max|                35|               27|                62|  Male|          10000000|
+-------+------------------+-----------------+------------------+------+------------------+

### Filter operations

In [29]:
### Salary of people less than or equal to 20000

df_pyspark5.filter("Salary<=20000").show()

+---+----------------+---+------+------+
| ID|Experience_Years|Age|Gender|Salary|
+---+----------------+---+------+------+
|  5|               1| 17|  Male| 10000|
|  8|               2| 21|Female|  9000|
| 15|               2| 23|  Male|  7500|
| 19|               2| 21|  Male| 15000|
| 24|               1| 21|Female|  6000|
| 25|               4| 23|Female|  8900|
| 26|               3| 22|Female| 20000|
| 27|               1| 18|  Male|  3000|
| 30|               2| 21|Female|  6100|
+---+----------------+---+------+------+

In [30]:
df_pyspark5.filter("Salary<=20000").select(['ID','Age']).show()

+---+---+
| ID|Age|
+---+---+
|  5| 17|
|  8| 21|
| 15| 23|
| 19| 21|
| 24| 21|
| 25| 23|
| 26| 22|
| 27| 18|
| 30| 21|
+---+---+

In [31]:
# Two different condition
df_pyspark5.filter(df_pyspark5['Salary']<=20000).show()

+---+----------------+---+------+------+
| ID|Experience_Years|Age|Gender|Salary|
+---+----------------+---+------+------+
|  5|               1| 17|  Male| 10000|
|  8|               2| 21|Female|  9000|
| 15|               2| 23|  Male|  7500|
| 19|               2| 21|  Male| 15000|
| 24|               1| 21|Female|  6000|
| 25|               4| 23|Female|  8900|
| 26|               3| 22|Female| 20000|
| 27|               1| 18|  Male|  3000|
| 30|               2| 21|Female|  6100|
+---+----------------+---+------+------+

In [34]:
df_pyspark5.filter((df_pyspark5['Salary']<=20000) & 
                    (df_pyspark5['Salary']>=15000)).show()

+---+----------------+---+------+------+
| ID|Experience_Years|Age|Gender|Salary|
+---+----------------+---+------+------+
| 19|               2| 21|  Male| 15000|
| 26|               3| 22|Female| 20000|
+---+----------------+---+------+------+

In [35]:
df_pyspark5.filter((df_pyspark5['Salary']<=20000) | 
                    (df_pyspark5['Salary']>=15000)).show()

+---+----------------+---+------+-------+
| ID|Experience_Years|Age|Gender| Salary|
+---+----------------+---+------+-------+
|  1|               5| 28|Female| 250000|
|  2|               1| 21|  Male|  50000|
|  3|               3| 23|Female| 170000|
|  4|               2| 22|  Male|  25000|
|  5|               1| 17|  Male|  10000|
|  6|              25| 62|  Male|5001000|
|  7|              19| 54|Female| 800000|
|  8|               2| 21|Female|   9000|
|  9|              10| 36|Female|  61500|
| 10|              15| 54|Female| 650000|
| 11|               4| 26|Female| 250000|
| 12|               6| 29|  Male|1400000|
| 13|              14| 39|  Male|6000050|
| 14|              11| 40|  Male| 220100|
| 15|               2| 23|  Male|   7500|
| 16|               4| 27|Female|  87000|
| 17|              10| 34|Female| 930000|
| 18|              15| 54|Female|7900000|
| 19|               2| 21|  Male|  15000|
| 20|              10| 36|  Male| 330000|
+---+----------------+---+------+-------+
only showing top 20 rows

In [37]:
df_pyspark5.filter(~(df_pyspark5['Salary']<=50000)).show()

+---+----------------+---+------+--------+
| ID|Experience_Years|Age|Gender|  Salary|
+---+----------------+---+------+--------+
|  1|               5| 28|Female|  250000|
|  3|               3| 23|Female|  170000|
|  6|              25| 62|  Male| 5001000|
|  7|              19| 54|Female|  800000|
|  9|              10| 36|Female|   61500|
| 10|              15| 54|Female|  650000|
| 11|               4| 26|Female|  250000|
| 12|               6| 29|  Male| 1400000|
| 13|              14| 39|  Male| 6000050|
| 14|              11| 40|  Male|  220100|
| 16|               4| 27|Female|   87000|
| 17|              10| 34|Female|  930000|
| 18|              15| 54|Female| 7900000|
| 20|              10| 36|  Male|  330000|
| 21|              15| 54|  Male| 6570000|
| 23|               5| 29|  Male| 6845000|
| 28|              27| 62|Female|10000000|
| 29|              19| 54|Female| 5000000|
| 31|              10| 34|  Male|   80000|
| 32|              15| 54|  Male|  900000|
+---+----------------+---+------+--------+
only showing top 20 rows