###Pyspark GroupBy and Aggregate Functions

In [1]:
from pyspark.sql import  SparkSession
spark = SparkSession.builder.appName("grouping").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/07/11 19:17:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/07/11 19:17:51 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/07/11 19:17:51 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [2]:
spark

In [4]:
df_pyspark6 = spark.read.csv("complete.csv", inferSchema=True, header=True)
df_pyspark6.show(3)

+---------+-----------------+--------------------+---------+-------+-----------+-------------------+-----------+-----------+--------------------+---------------------+--------------------+---+-----------------+-----------------+----------+-----------+-----------------+-------+------+--------------------+----------+-------------+-------------+---------------+--------------------+----------------+--------------------+----------+----------+-------------+---------------+-------------+----------------+--------------------+-------+----------+-------+----------------+----------------+-------------------+---------------------+-------------------+----------------------+--------------------------+----------+-----------+-----------+--------------------+-------------+-------------+-------------+
|awardYear|         category|    categoryFullName|sortOrder|portion|prizeAmount|prizeAmountAdjusted|dateAwarded|prizeStatus|          motivation|categoryTopMotivation|          award_link| id|             name|        knownName| givenName| familyName|         fullName|penName|gender|       laureate_link|birth_date|   birth_city|birth_cityNow|birth_continent|       birth_country|birth_countryNow|birth_locationString|death_date|death_city|death_cityNow|death_continent|death_country|death_countryNow|death_locationString|orgName|nativeName|acronym|org_founded_date|org_founded_city|org_founded_cityNow|org_founded_continent|org_founded_country|org_founded_countryNow|org_founded_locationString|ind_or_org|residence_1|residence_2|       affiliation_1|affiliation_2|affiliation_3|affiliation_4|
+---------+-----------------+--------------------+---------+-------+-----------+-------------------+-----------+-----------+--------------------+---------------------+--------------------+---+-----------------+-----------------+----------+-----------+-----------------+-------+------+--------------------+----------+-------------+-------------+---------------+--------------------+----------------+--------------------+----------+----------+-------------+---------------+-------------+----------------+--------------------+-------+----------+-------+----------------+----------------+-------------------+---------------------+-------------------+----------------------+--------------------------+----------+-----------+-----------+--------------------+-------------+-------------+-------------+
|     2001|Economic Sciences|The Sveriges Riks...|        2|    1/3|   10000000|           12295082| 2001-10-10|   received|for their analyse...|                 null|https://masterdat...|745|A. Michael Spence|A. Michael Spence|A. Michael|     Spence|A. Michael Spence|   null|  male|http://masterdata...|1943-00-00|Montclair, NJ|Montclair, NJ|  North America|                 USA|             USA|  Montclair, NJ, USA|      null|      null|         null|           null|         null|            null|                null|   null|      null|   null|            null|            null|               null|                 null|               null|                  null|                      null|Individual|       null|       null|Stanford Universi...|         null|         null|         null|
|     1975|          Physics|The Nobel Prize i...|        1|    1/3|     630000|            3404179| 1975-10-17|   received|for the discovery...|                 null|https://masterdat...|102|     Aage N. Bohr|     Aage N. Bohr|   Aage N.|       Bohr|  Aage Niels Bohr|   null|  male|http://masterdata...|1922-06-19|   Copenhagen|   Copenhagen|         Europe|             Denmark|         Denmark| Copenhagen, Denmark|2009-09-08|Copenhagen|   Copenhagen|         Europe|      Denmark|         Denmark| Copenhagen, Denmark|   null|      null|   null|            null|            null|               null|                 null|               null|                  null|                      null|Individual|       null|       null|Niels Bohr Instit...|         null|         null|         null|
|     2004|        Chemistry|The Nobel Prize i...|        1|    1/3|   10000000|           11762861| 2004-10-06|   received|for the discovery...|                 null|https://masterdat...|779|Aaron Ciechanover|Aaron Ciechanover|     Aaron|Ciechanover|Aaron Ciechanover|   null|  male|http://masterdata...|1947-10-01|        Haifa|        Haifa|           Asia|British Protector...|          Israel|Haifa, British Pr...|      null|      null|         null|           null|         null|            null|                null|   null|      null|   null|            null|            null|               null|                 null|               null|                  null|                      null|Individual|       null|       null|Technion - Israel...|         null|         null|         null|
+---------+-----------------+--------------------+---------+-------+-----------+-------------------+-----------+-----------+--------------------+---------------------+--------------------+---+-----------------+-----------------+----------+-----------+-----------------+-------+------+--------------------+----------+-------------+-------------+---------------+--------------------+----------------+--------------------+----------+----------+-------------+---------------+-------------+----------------+--------------------+-------+----------+-------+----------------+----------------+-------------------+---------------------+-------------------+----------------------+--------------------------+----------+-----------+-----------+--------------------+-------------+-------------+-------------+
only showing top 3 rows

In [6]:
df_pyspark6.columns

['awardYear',
 'category',
 'categoryFullName',
 'sortOrder',
 'portion',
 'prizeAmount',
 'prizeAmountAdjusted',
 'dateAwarded',
 'prizeStatus',
 'motivation',
 'categoryTopMotivation',
 'award_link',
 'id',
 'name',
 'knownName',
 'givenName',
 'familyName',
 'fullName',
 'penName',
 'gender',
 'laureate_link',
 'birth_date',
 'birth_city',
 'birth_cityNow',
 'birth_continent',
 'birth_country',
 'birth_countryNow',
 'birth_locationString',
 'death_date',
 'death_city',
 'death_cityNow',
 'death_continent',
 'death_country',
 'death_countryNow',
 'death_locationString',
 'orgName',
 'nativeName',
 'acronym',
 'org_founded_date',
 'org_founded_city',
 'org_founded_cityNow',
 'org_founded_continent',
 'org_founded_country',
 'org_founded_countryNow',
 'org_founded_locationString',
 'ind_or_org',
 'residence_1',
 'residence_2',
 'affiliation_1',
 'affiliation_2',
 'affiliation_3',
 'affiliation_4']

In [7]:
df_pyspark6.describe().show()

+-------+--------------------+--------------------+--------------------+------------------+---------------+-----------------+-------------------+-----------+---------------+--------------------+---------------------+--------------------+-----------------+-----------------+-----------------+----------+----------+-----------------+--------------------+------+--------------------+----------+------------+-------------+---------------+---------------+----------------+--------------------+----------+----------+-------------+---------------+---------------+----------------+--------------------+--------------------+--------------------+-------+----------------+----------------+-------------------+---------------------+-------------------+----------------------+--------------------------+------------+---------------+-----------+--------------------+--------------------+--------------------+--------------------+
|summary|           awardYear|            category|    categoryFullName|         sortOrder|        portion|      prizeAmount|prizeAmountAdjusted|dateAwarded|    prizeStatus|          motivation|categoryTopMotivation|          award_link|               id|             name|        knownName| givenName|familyName|         fullName|             penName|gender|       laureate_link|birth_date|  birth_city|birth_cityNow|birth_continent|  birth_country|birth_countryNow|birth_locationString|death_date|death_city|death_cityNow|death_continent|  death_country|death_countryNow|death_locationString|             orgName|          nativeName|acronym|org_founded_date|org_founded_city|org_founded_cityNow|org_founded_continent|org_founded_country|org_founded_countryNow|org_founded_locationString|  ind_or_org|    residence_1|residence_2|       affiliation_1|       affiliation_2|       affiliation_3|       affiliation_4|
+-------+--------------------+--------------------+--------------------+------------------+---------------+-----------------+-------------------+-----------+---------------+--------------------+---------------------+--------------------+-----------------+-----------------+-----------------+----------+----------+-----------------+--------------------+------+--------------------+----------+------------+-------------+---------------+---------------+----------------+--------------------+----------+----------+-------------+---------------+---------------+----------------+--------------------+--------------------+--------------------+-------+----------------+----------------+-------------------+---------------------+-------------------+----------------------+--------------------------+------------+---------------+-----------+--------------------+--------------------+--------------------+--------------------+
|  count|                 951|                 950|                 951|               951|            951|              951|                951|        534|            951|                 950|                   21|                 950|              950|              950|              923|       923|       921|              923|                  12|   922|                 949|       922|         921|          921|            922|            922|             922|                 922|       630|       611|          611|            617|            617|             617|                 630|                  27|                  28|     12|              26|              22|                 22|                   24|                 24|                    24|                        26|         949|            218|          2|                 697|                  67|                   2|                   1|
|   mean|  1971.2073684210527|                null|                null| 2.440588853838065|            1.0|3460596.127368421|  6145680.669473684|       null|           null|                null|                 null|                null|482.5911485774499|             null|             null|      null|      null|             null|                null|  null|                null|      null|        null|         null|           null|           null|            null|                null|      null|      null|         null|           null|           null|            null|                null|                null|                null|   null|            null|            null|               null|                 null|               null|                  null|                      null|        null|           null|       null|                null|                null|                null|                null|
| stddev|   33.58696853929656|                null|                null|29.533538353080655|            0.0|4014529.562870732|  3276873.892819735|       null|           null|                null|                 null|                null|282.4499981245478|             null|             null|      null|      null|             null|                null|  null|                null|      null|        null|         null|           null|           null|            null|                null|      null|      null|         null|           null|           null|            null|                null|                null|                null|   null|            null|            null|               null|                 null|               null|                  null|                      null|        null|           null|       null|                null|                null|                null|                null|
|    min|                1901|           Chemistry|The Nobel Peace P...|                 1|              1|          1000000|           10049186| 1901-12-10|Patrick Modiano|The poetry of Eri...| for basic work on...|http://masterdata...|                1|A. Michael Spence|A. Michael Spence|A. Michael|&#332;mura|A. Michael Spence|(pen-name of Alex...|female|http://masterdata...|1817-11-30|'s Graveland| 's Graveland|         Africa|      Argentina|         Algeria|'s Graveland, the...|1903-11-01|    Aarhus|       Aarhus|         Africa|      Argentina|       Argentina|     Aarhus, Denmark|American Friends ...|American Friends ...|   AFSC|      1647-00-00|            Bern|               Bern|                 Asia|          Australia|             Australia|                 Australia|  Individual|      Argentina|  Mauritius|A.F. Ioffe Physic...|Aarhus University...|Dana-Farber Cance...|Brigham and Women...|
|    max|uncovered the lif...|Physiology or Med...|https://masterdat...|               912|Patrick Modiano|  Patrick Modiano|            Patrick|    Modiano|     restricted|whose frolicsome ...|                 male|https://masterdat...|               99|    Élie Ducommun|    Élie Ducommun|      Élie|zur Hausen|    Élie Ducommun|       Paris, France|  male|http://masterdata...|1997-07-12|    Śeteniai|     Śeteniai|  South America|the Netherlands| the Netherlands|Śeteniai, Russian...|2020-03-29|   Övralid|      Övralid|  South America|the Netherlands| the Netherlands|     Övralid, Sweden|United Nations Pe...|United Nations Pe...| UNICEF|      2007-00-00|  Washington, DC|     Washington, DC|              Oceania|     United Kingdom|        United Kingdom|       Washington, DC, USA|Organization|the Netherlands|        USA|École municipale ...|École Normale Sup...|Howard Hughes Med...|Brigham and Women...|
+-------+--------------------+--------------------+--------------------+------------------+---------------+-----------------+-------------------+-----------+---------------+--------------------+---------------------+--------------------+-----------------+-----------------+-----------------+----------+----------+-----------------+--------------------+------+--------------------+----------+------------+-------------+---------------+---------------+----------------+--------------------+----------+----------+-------------+---------------+---------------+----------------+--------------------+--------------------+--------------------+-------+----------------+----------------+-------------------+---------------------+-------------------+----------------------+--------------------------+------------+---------------+-----------+--------------------+--------------------+--------------------+--------------------+

In [8]:
df_pyspark6.printSchema()

root
 |-- awardYear: string (nullable = true)
 |-- category: string (nullable = true)
 |-- categoryFullName: string (nullable = true)
 |-- sortOrder: integer (nullable = true)
 |-- portion: string (nullable = true)
 |-- prizeAmount: string (nullable = true)
 |-- prizeAmountAdjusted: string (nullable = true)
 |-- dateAwarded: string (nullable = true)
 |-- prizeStatus: string (nullable = true)
 |-- motivation: string (nullable = true)
 |-- categoryTopMotivation: string (nullable = true)
 |-- award_link: string (nullable = true)
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- knownName: string (nullable = true)
 |-- givenName: string (nullable = true)
 |-- familyName: string (nullable = true)
 |-- fullName: string (nullable = true)
 |-- penName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- laureate_link: string (nullable = true)
 |-- birth_date: string (nullable = true)
 |-- birth_city: string (nullable = true)
 |-- birth_cityNow: string (nullable = true)
 |-- birth_continent: string (nullable = true)
 |-- birth_country: string (nullable = true)
 |-- birth_countryNow: string (nullable = true)
 |-- birth_locationString: string (nullable = true)
 |-- death_date: string (nullable = true)
 |-- death_city: string (nullable = true)
 |-- death_cityNow: string (nullable = true)
 |-- death_continent: string (nullable = true)
 |-- death_country: string (nullable = true)
 |-- death_countryNow: string (nullable = true)
 |-- death_locationString: string (nullable = true)
 |-- orgName: string (nullable = true)
 |-- nativeName: string (nullable = true)
 |-- acronym: string (nullable = true)
 |-- org_founded_date: string (nullable = true)
 |-- org_founded_city: string (nullable = true)
 |-- org_founded_cityNow: string (nullable = true)
 |-- org_founded_continent: string (nullable = true)
 |-- org_founded_country: string (nullable = true)
 |-- org_founded_countryNow: string (nullable = true)
 |-- org_founded_locationString: string (nullable = true)
 |-- ind_or_org: string (nullable = true)
 |-- residence_1: string (nullable = true)
 |-- residence_2: string (nullable = true)
 |-- affiliation_1: string (nullable = true)
 |-- affiliation_2: string (nullable = true)
 |-- affiliation_3: string (nullable = true)
 |-- affiliation_4: string (nullable = true)

In [13]:
## Groupby

df_pyspark6.groupBy('name').sum().show()

+--------------------+--------------+
|                name|sum(sortOrder)|
+--------------------+--------------+
|    Richard R. Ernst|             1|
| Stanley B. Prusiner|             1|
|    Gabriel Lippmann|             1|
|       Michael Smith|             2|
|Permanent Interna...|             1|
|      Peter Grünberg|             2|
|    Samuel C.C. Ting|             2|
|      Edwin G. Krebs|             2|
|         Gary Becker|             1|
|        Imre Kertész|             1|
|   Jacinto Benavente|             1|
|     Barack H. Obama|             1|
|   Douglass C. North|             2|
|  Edward V. Appleton|             1|
|    Frank B. Kellogg|             1|
|     George E. Smith|             3|
|         Martin Ryle|             1|
|   Philip Noel-Baker|             1|
|United Nations Ch...|             1|
|   Arthur H. Compton|             1|
+--------------------+--------------+
only showing top 20 rows

In [12]:
df_pyspark6.groupBy('awardYear').sum().show()

+---------+--------------+
|awardYear|sum(sortOrder)|
+---------+--------------+
|     1903|            10|
|     1953|             7|
|     1957|             7|
|     1987|            13|
|     1956|            16|
|     2016|            18|
|     1936|             9|
|     2012|            14|
|     1958|            15|
|     1910|             5|
|     1943|             5|
|     1915|             5|
|     1972|            19|
|     1931|             8|
|     1911|             7|
|     1926|             7|
|     1938|             5|
|     1988|            21|
|     2019|            26|
|     1918|             2|
+---------+--------------+
only showing top 20 rows

In [14]:
### Groupby 
df_pyspark6.groupBy('prizeAmount').sum().show()

+---------------+--------------+
|    prizeAmount|sum(sortOrder)|
+---------------+--------------+
|         164304|            12|
|         116960|             7|
|        1650000|            13|
|         146900|             3|
|         220678|             9|
|         225987|             7|
|         121841|             7|
|Patrick Modiano|           912|
|         725000|            18|
|         162608|             9|
|         172947|             5|
|        7500000|            20|
|        1500000|             8|
|         214559|            15|
|         320000|            14|
|         121573|             6|
|         300000|             8|
|         171753|             6|
|         159917|             6|
|        7000000|            20|
+---------------+--------------+
only showing top 20 rows

In [15]:
# like wise we can calculate the sum mean etc.

In [16]:
df_pyspark6.groupBy('prizeAmount').count().show()

+---------------+-----+
|    prizeAmount|count|
+---------------+-----+
|         164304|    8|
|         116960|    6|
|        1650000|    9|
|         146900|    3|
|         220678|    7|
|         225987|    6|
|         121841|    6|
|Patrick Modiano|    1|
|         725000|   11|
|         162608|    6|
|         172947|    5|
|        7500000|   12|
|        1500000|    7|
|         214559|    9|
|         320000|    8|
|         121573|    5|
|         300000|    6|
|         171753|    5|
|         159917|    5|
|        7000000|   12|
+---------------+-----+
only showing top 20 rows

In [17]:
df_pyspark6.agg({'prizeAmount':'sum'}).show()

+----------------+
|sum(prizeAmount)|
+----------------+
|   3.287566321E9|
+----------------+