### Pyspark Handling Missing Values 

* Dropping Columns
* Dropping Rows
* Various parameter in dropping functionalities 
* Handling Missing values by Mean, Median and Mode

In [6]:
from pyspark.sql import  SparkSession
spark = SparkSession.builder.appName('Handling').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/07/11 14:02:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/07/11 14:02:09 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/07/11 14:02:09 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/07/11 14:02:09 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [7]:
spark.read.csv('salary.csv', header= True, inferSchema= True)

DataFrame[Name : string, Age : int, Gender : string, Salary : int]

In [8]:
df_pyspark4 =   spark.read.csv('salary.csv', header= True, inferSchema= True)

In [9]:
df_pyspark4.show()

+----------+----+-------+-------+
|     Name |Age |Gender |Salary |
+----------+----+-------+-------+
|Adviteeya |  30|   male|  12333|
|     Abhay|  23|   male|  54000|
|      amit|  43|   null|   null|
|  ashutosh|  54|   null|  45000|
|      null|null|   null|  45000|
|      baby|  23| female|   9000|
|      null|null|   null|   9000|
+----------+----+-------+-------+

In [23]:
## Drop the columns
df_pyspark4.drop('Name')

DataFrame[Name : string, Age : int, Gender : string, Salary : int]

In [16]:
## dropping NAN values
df_pyspark4.na.drop().show()
## all the rows are dropeed where null value or nan values are dropped

+----------+----+-------+-------+
|     Name |Age |Gender |Salary |
+----------+----+-------+-------+
|Adviteeya |  30|   male|  12333|
|     Abhay|  23|   male|  54000|
|      baby|  23| female|   9000|
+----------+----+-------+-------+

In [17]:
## features of drop any == how

df_pyspark4.na.drop(how="all").show()

## it will drop only those rows in which all the values are null by default it is any

+----------+----+-------+-------+
|     Name |Age |Gender |Salary |
+----------+----+-------+-------+
|Adviteeya |  30|   male|  12333|
|     Abhay|  23|   male|  54000|
|      amit|  43|   null|   null|
|  ashutosh|  54|   null|  45000|
|      null|null|   null|  45000|
|      baby|  23| female|   9000|
|      null|null|   null|   9000|
+----------+----+-------+-------+

In [88]:
## features of drop any == threshold

df_pyspark4.na.drop(how="any", thresh= 2).show()

## it will delete that row in which there are two non null values

+----------+----+-------+-------+
|     Name |Age |Gender |Salary |
+----------+----+-------+-------+
|Adviteeya |  30|   male|  12333|
|     Abhay|  23|   male|  54000|
|      amit|  43|   null|   null|
|  ashutosh|  54|   null|  45000|
|      baby|  23| female|   9000|
+----------+----+-------+-------+

In [18]:
## features of drop  == threshold

df_pyspark4.na.drop(how="any",thresh= 3).show()

## it will delete that row in which there are three non null values

+----------+----+-------+-------+
|     Name |Age |Gender |Salary |
+----------+----+-------+-------+
|Adviteeya |  30|   male|  12333|
|     Abhay|  23|   male|  54000|
|  ashutosh|  54|   null|  45000|
|      baby|  23| female|   9000|
+----------+----+-------+-------+

In [20]:
## features of drop == subset
## drop null values from specific column 
#df_pyspark4.na.drop(how="any",subset=["Age"]).show()
df_pyspark4.na.drop(how="any",subset=["Age"]).show()

In [21]:
## Fill the missing the values 

df_pyspark4.na.fill('Missing value').show()
## it will fill the null values with missing values

+-------------+----+-------------+-------+
|        Name |Age |      Gender |Salary |
+-------------+----+-------------+-------+
|   Adviteeya |  30|         male|  12333|
|        Abhay|  23|         male|  54000|
|         amit|  43|Missing value|   null|
|     ashutosh|  54|Missing value|  45000|
|Missing value|null|Missing value|  45000|
|         baby|  23|       female|   9000|
|Missing value|null|Missing value|   9000|
+-------------+----+-------------+-------+

In [22]:
## Fill the missing the values 

df_pyspark4.na.fill('Missing value', 'Age').show()
## it will fill the null values with missing values with respect to any speicific columns