In [1]:
import pyspark

In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.4 MB)
     |████████████████████████████████| 12.4 MB 29.1 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /config/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     |████████████████████████████████| 341 kB 55.0 MB/s eta 0:00:01
Collecting numpy>=1.20.3; python_version < "3.10"
  Downloading numpy-1.24.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     |████████████████████████████████| 17.3 MB 64.1 MB/s eta 0:00:01
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     |████████████████████████████████| 502 kB 56.0 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /config/.local/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, numpy, pytz, pandas
  WARNING: The scripts f2py, f2py3 and f2py3.8 are installed in '/config/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed numpy-1.24.4 pandas-2.0.3 pytz-2023.3 tzdata-2023.3

In [4]:
import pandas as pd

In [5]:
pd.read_csv('test1.csv',encoding='latin-1')

        Name  Age  Experience
0  sudhanshu   30          10
1        adi   33           8
2      swati   34           6
3       asdi   56           9

In [6]:
df = pd.read_csv('test1.csv')

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
from pyspark.sql import SparkSession

In [9]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/07/11 11:42:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [10]:
spark

In [11]:
# Read dataset with respect to spark
df_pyspark = spark.read.csv('test1.csv')

In [12]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string]

taking co and c1 as default column

In [13]:
df_pyspark.show()

+---------+---+----------+
|      _c0|_c1|       _c2|
+---------+---+----------+
|     Name|Age|Experience|
|sudhanshu| 30|        10|
|      adi| 33|         8|
|    swati| 34|         6|
|     asdi| 56|         9|
+---------+---+----------+

In [14]:
spark.read.option('header', 'True').csv('test1.csv')

DataFrame[Name: string, Age: string, Experience: string]

In [15]:
spark.read.option('header', 'True').csv('test1.csv').show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|sudhanshu| 30|        10|
|      adi| 33|         8|
|    swati| 34|         6|
|     asdi| 56|         9|
+---------+---+----------+

In [16]:
df_pyspark = spark.read.option('header', 'True').csv('test1.csv')

In [17]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [18]:
df_pyspark.head(3)

[Row(Name='sudhanshu', Age='30', Experience='10'),
 Row(Name='adi', Age='33', Experience='8'),
 Row(Name='swati', Age='34', Experience='6')]

In [19]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

## In the below section we will be covering the following topics.

    *Pyspakr Dataframe
    *Reading the data set
    *Checking theDatatypes aof the column (Schema)
    *Selecting columns and indexing 
    *check describe option similar to pandas
    *adding and dropping columns

In [20]:
spark1 = SparkSession.builder.appName('Dataframe').getOrCreate()

In [22]:
spark1

In [38]:
## Read the dataset
spark.read.option('header', 'True').csv('test1.csv')

DataFrame[Name: string, Age: string, Experience: string]

In [42]:
df_pyspar1 = spark.read.option('header', 'True').csv('test1.csv')

In [43]:
### Check the schema

df_pyspar1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)